/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
**/.preview
*.p12
*.p7b
*.cer
*.csr
*.jks
/.claude/settings.local.json
/.claude/scheduled_tasks.lock
/.superpowers
/build-host
/dist
